1-Write a program that will find all such numbers divisible by 7 but not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [1]:
list1=[]
for i in range(2000,3201):
    if i % 7 == 0 and i % 5 != 0:
        list1.append(str(i))
        
print(','.join(list1))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

2-Write a program that can compute the factorial of a given number. The results should be printed in a comma-separated sequence on a single line. Suppose the following input is supplied to the program: 8 Then, the output should be: 40320

In [2]:
n = 8
list2 = []
factorial = 1
for i in range(1, n + 1):
    factorial *= i  
    list2.append(str(i))
    
print(",".join(list2))    
print(factorial)

1,2,3,4,5,6,7,8
40320

3-With a given integral number n, write a program to generate a dictionary that contains (i, i*i), an integral number between 1 and n (both included). Then, the program should print the dictionary. Suppose the following input is supplied to the program: 8 Then, the output should be: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [3]:
n=8
dictionary_dict = {i: i * i for i in range(1, n + 1)}
print(dictionary_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

4-Write a program that accepts a sequence of comma-separated numbers from the
console and generates a list and a tuple that contains every number.
Suppose the following input is supplied to the program: 34,67,55,33,12,98 Then,
the output should be: ['34', '67', '55', '33', '12', '98'] ('34', '67', '55', '33', '12', '98')

In [4]:
a = "34,67,55,33,12,98"
num_list = a.split(',')
num_tuple = tuple(num_list)
print( num_list)
print( num_tuple)

['34', '67', '55', '33', '12', '98']
('34', '67', '55', '33', '12', '98')

5-Define a class that has at least two methods: getString: to get a
string from the console input printString: to print the 
string in upper case. Also, please include a simple test function to test the class methods.

In [5]:
class StringManipulator:
    def getString(self):
        self.input_string = input("Enter a string: ")
    def printString(self):
        print(self.input_string.upper())

def test_string_manipulator():
    sm = StringManipulator()
    sm.getString()      
    sm.printString() 
    
test_string_manipulator()

5]

6-A program that calculates and prints the value according to the given 
formula: Q = Square root of [(2 * C * D)/H] Following are the fixed values of C and H: C is 50. H is 30. D is
the variable whose values should be input to your program in a comma-separated sequence. Example: Let us assume the
following comma-separated input sequence is given to the program: 100,150,180 The output of the program should be 18,22,24

In [6]:
import math
C = 50
H = 30
x = input("Enter the values of D separated by commas: ")
d=x.split(',')
L1=[]
for D in d:
    D=int(D)
    Q = math.sqrt((2 * C * D) / H)
    L1.append(str(round(Q)))
print(','.join(L1))

4

7-Program which takes 2 digits, X, Y as input and generates a 2-dimensional array.
The element value in the i-th row and j-th column of the array should be i*j. Note: i=0,1.., X-1; j=0,1,¡Y-1.
Example: Suppose the following inputs are given to the program: 3,5 Then,
the output of the program should be: [[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

In [9]:
def generate_2dimensional_array(X, Y):
    x = []
    for i in range(X):
        row = []
        for j in range(Y):
            row.append(i * j)     
        x.append(row)
    return x
    
n=input("Enter the two numbers X and Y separated by a comma: ")
X_str, Y_str=n.split(',')
X = int(X_str)
Y = int(Y_str)
generate_2dimensional_array(X, Y)

[[0, 0, 0, 0, 0], [0, 1, 2, 3, 4], [0, 2, 4, 6, 8]]

8-The program accepts a comma-separated sequence of words as input and prints the words in a comma-separated 
sequence after sorting them alphabetically. Suppose the following input is supplied to the program: without, hello, bag,
world. Then, the output should be: bag, hello, without, world.

In [ ]:
user_input=input("Enter the words")
a=user_input.split(',')
print(','.join(a))

9-The program accepts a sequence of lines as input and prints the lines after making all characters 
in the sentence capitalized. Suppose the following input is supplied to the program: Hello world Practice 
makes perfect. Then, the output should be: HELLO WORLD PRACTICE MAKES PERFECT.

In [ ]:
users_input=input("Enter the words")
x=users_input.upper()
print(x)

10-A program that accepts a sequence of whitespace-separated words as input and prints the 
words after removing all duplicate words and sorting them alphanumerically. Suppose the following input is supplied to the
program: hello world and practice make perfect and hello world again. 
Then, the output should be: again and hello make perfect practice world

In [ ]:
user_inputs=input("Enter the words:")
x=user_inputs.split(' ')
unique_words=set(x)
sorted_words=sorted(unique_words)
print(' '.join(sorted_words))

11-A program that accepts a sequence of comma-separated 4-digit binary numbers as its input and then 
checks whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma-separated 
sequence. Example: 0100,0011,1010,1001 Then the output should be: 1010 Notes: Assume the data is input by the console.

In [ ]:
user_input =input("Enter 4-digit binary numbers separated by commas: ")
N=user_input.split(',')
x=[]
for i in N:
    decimal_value=int(i, 2)
    if decimal_value % 5==0:
        x.append(i)
print(','.join(x))

12-A program that will find all such numbers between 1000 and 3000 (both included) such 
that each digit of the number is an even number. The numbers obtained
should be printed in a comma-separated sequence on a single line.

In [11]:
v = []
for number in range(1000, 3001):
    num_str = str(number)
    if all(int(i) % 2 == 0 for i in num_str):
        v.append(num_str)
        
print(','.join(v))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

13-A program that accepts a sentence and calculates the number of letters and digits. Suppose 
the following input is supplied to the program: hello world! 123 Then, the output should be LETTERS 10 DIGITS 3.

In [ ]:
x=input("Enter a sentence: ")
letters_count=0
digits_count=0
for char in x:
    if char.isalpha():
        letters_count+=1
    if char.isdigit():
        digits_count+=1

print(f"letters is:{letters_count} digits is:{digits_count}")

14-A program that accepts a sentence and calculates the number of upper case letters 
and lower case letters. Suppose the following input is supplied to the program: 
Hello world! Then, the output should be: UPPER CASE 1 LOWER CASE 9

In [ ]:
sentence = "Hello world!"
upper_case_count = 0
lower_case_count = 0
for char in sentence:
    if char.isupper():
        upper_case_count += 1
    if char.islower():
        lower_case_count += 1
        
print(f'UPPER CASE {upper_case_count}')
print(f'LOWER CASE {lower_case_count}')

15- program that computes the value of a+aa+aaa+aaaa with a given digit as the value of a.
Suppose the following input is supplied to the program: 9 Then, the output should be: 11106

In [ ]:
a="9"
aa=a*2
aaa=a*3
aaaa=a*4
y = int(a)+int(aa)+int(aaa)+int(aaaa)
print(y)

16-Use a list comprehension to square each odd number in a list. The 
list is input as a sequence of comma-separated numbers. Suppose the following input is supplied 
to the program: 1,2,3,4,5,6,7,8,9. Then, the output should be 1,3,5,7,9.

In [ ]:
h=input("Enter the numbers seprated with commas")
numbers = list(map(int, h.split(',')))
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

17-A program that computes the net amount of a bank account based on a transaction log 
from console input. The transaction log format is shown as follows: D 100 W 200. D means a deposit, while W 
means withdrawal. Suppose the following input is supplied to the program: D 300 D 300 W 200 D 100 Then, the output should be: 500

In [ ]:
def compute_net_amount(transaction_log):
    net_amount=0
    x=transaction_log.split()
    
    for i in range(0,len(x),2):
        action=x[i]
        amount=int(x[i + 1])
        
        if action=='D':
            net_amount+=amount
        if action=='W':
            net_amount-=amount
    
    return net_amount

transaction_log ="D 300 D 300 W 200 D 100"
compute_net_amount(transaction_log)

18-A program to compute 1/2+2/3+3/4+...+n/n+1 with a given n input by console (n>0). If the following n is provided as input to the program: 5. Then, the output of the program should be: 3.55

In [ ]:
n = int(input("Enter a Number (n > 0): "))
if n > 0:
    total = 0
    for i in range(1, n + 1):
        total += i / (i + 1)

    j = float(total)
    print(j)

19-A program that counts and prints each character's numbers in a string
input by the console. Example: If the following string is given as input to the program:
abcdefgabc Then, the output of the program should be: a,2 c,2 b,2 e,1 d,1 g,1 f,1

In [12]:
from collections import Counter

x = input("Enter the sentences and numbers: ")
char_counts = Counter(x)
output = ', '.join(f"{char}: {count}" for char, count in char_counts.items())
print(output)

a: 2, b: 2, c: 2, d: 1

20-With two given lists [1,3,6,78,35,55] and [12,24,35,24,88,120,155],  write a program
to make a list whose elements are the intersection of the above-given lists.

In [ ]:
L1=[1,3,6,78,35,55]
L2=[12,24,35,24,88,120,155]
intersection = list(set(L1)&set(L2))
print(intersection)

21-Given an integer, n, perform the following conditional actions:
If n is odd, print Weird
If n is even and in the inclusive range of 2 to 5, print Not Weird
If n is even and in the inclusive range of 6 to 20, print Weird
If n is even and greater than 20, print Not Weird
Input Format: A single line containing a positive integer, n.
Constraints: 1 <= n <= 100

In [ ]:
n = int(input("Enter a positive integer: "))
if n % 2 == 1:
    print("Weird")
if n % 2 == 0 and 2 <= n <= 5:
    print("Not Weird")
if n % 2 == 0 and 6 <= n <= 20:
    print("Weird")
if n % 2 == 0 and n > 20:
    print("Not Weird")

22-Write a function to determine if a given year is a leap year in the Gregorian calendar, based on these rules:
Divisible by 4: Leap year
Divisible by 100: Not a leap year, unless also divisible by 400
Input
An integer y where 1900≤y≤2050
Output
Return True if the year is a leap year, otherwise, return False.

In [ ]:
n = int(input("Enter the year: "))
if (n % 4 == 0 and n % 100 != 0):
    print("Leap year: True")
else:
    print("not a Leap year: False")

23-Given the scores of participants in a sports event, find the second-highest (runner-up) score.
Input
The first line contains an integer n (the number of scores).
The second line contains n space-separated integers, representing the scores.
Output
Print the second-highest score.

In [ ]:
def find_second_highest(score):
    unique_score=list(set(score))
    x=unique_score.sort(reverse=True)
    return unique_score[1]

score=(2,3,6,6,5)
find_second_highest(score)

24-Given a string, swap the case of each letter: convert lowercase letters to uppercase, and uppercase letters to lowercase.
Input
A single string S.
Output
The modified string with swapped cases.

In [ ]:
def swap_case(S):
    return S.swapcase()

n = "Pythonist 2"
x = swap_case(n)
print(x)